body.template{
  margin: 25px;
  background-color: #ADD8E6;
  border: 5px solid brown;
}

html{
  height: auto;
  background-image: linear-gradient()inear-gradient (#ADD8E6, #e38dcd);
}
}

}
div#floating {
  max-width: 30%;
  text-align: center;
}


div#content{
  margin: 0px;
  padding: 0px;
}


div#challenges {
  background-color: #D3D3D3;
  border: 1px BLACK;
  padding: 25px;
}
  div#problems {
    background-color: #D3D3D3;
    border: 1px BLACK;
    padding: 25px;
}
    div#results {
      background-color: #D3D3D3;
      border: 1px BLACK;
      padding: 25px;

}
    h1 {
       font-size: 20pt;
       color: #000080;
       text-transform: uppercase;
       font-family: "Arial BLACK", sans-serif;
       letter-spacing: 4pt;
       text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
      }


       h2 {
      font-size: 20pt;
       color: #000080;
       text-transform: uppercase;
       font-family: "Arial BLACK", sans-serif;
       letter-spacing: 4pt;
       text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
     }


       h3 {
       font-size: 20pt;
       color: #000080;
       text-transform: uppercase;
       font-family: "Arial BLACK", sans-serif;
       letter-spacing: 4pt;
       text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
     }


p0, .maintext{
      font-size: 20pt;
      color: #000080;
      font-family: "Arial BLACK", sans-serif;
      float: right;

}

}
p1, .maintext{
      font-size:20pt;
      color: #000080;
      font-family: "Arial BLACK", sans-serif;
      text-align: center;
}


p2, .maintext{
      font-size: 12pt;
      color: #000080;
      font-family: "Arial BLACK", sans-serif;
}

p3, .maintext{
  font-size: 12pt;
  color: #000080;
  font-family: "Arial BLACK", sans-serif;
}

p4, .maintext{
  font-size: 12pt;
  color: #000080;
  font-family: "Arial BLACK", sans-serif;
}


div#picture{
  border: 3px BLACK;
  max width: 20%;
  max height: 20%;
}

img{
  float: right;
  width: 150px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;

}
