body.template{
  margin:25px;
  background-color: #ff0000;
  border: 10px solid brown;
  font-size: 16pt;
  font-family: "Arial Helvetica" sans-serif;
  font-color: white;
}
div#content{
  stuff
}
div#challenges {
  background-color: #6a0dad ;
  border: 1px BLACK;
  padding: 25px;
}
  div#problems {
    background-color: #6a0dad;
    border: 1px BLACK;
    padding: 25px;
}
    div#results {
      background-color: #6a0dad;
      border: 1px BLACK;
      padding: 25px;
}
     p1, p2, p3 .maintext{
      font-size: 20pt;
      color: white;
      font-family: "Arial Helvetica" sans-serif;
}
div#picture{
  border: 3px BLACK;

img{
  float: right;
  width: 80px;
  height: 180px;
  padding: 40px;
}
    img.miniskater{
      float: right;
      width: 200px;
      height: auto;
      padding: 50px;
}
