div#content{
background-color:#e0cbc8;
}

div#topright{

}

div#picture{

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div#verticalleft{

}

div#bottomtext{

}

h1{
  font-family: ProximaNovs Th, sans-serif;

}

h2{

}

h3{
writing-mode: verical-r1;
position: fixed;
top: 100px
bottom: 100px
left: 0px
right: auto;
}

h4{

}





#061634
