div#content{
background-color:#e0cbc8;
}

div#topright{

}

div#picture{

}


div#verticalleft{

}

div#bottomtext{

}

h1{
  font-family: ProximaNova Th, sans-serif;

}

h2{

}

h3{
writing-mode: vertical-r1;
top: 100px;
bottom: 100px;
}

h4{

}

img{
  
}



#061634
