div#content{

}

div#topright{

}

div#picture{

}

div#verticalleft{

}

div#bottomtext{

}

h1{

}

h2{

}

h3{

}

h4{

}


img{
  float: middle;
  width: 600px;
  height: 350px;
}


#e0cbc8
#061634
