body.template{
  margin: 25px;
  background-color: #3CB371;
  border: 20px solid brown;

}
div#content{
  margin: 0px;
  padding: 10px;
}
div#challenges {
  background-color: #F5DEB3;
  border: 1px BLACK;
  padding: 25px;
}
  div#problems {
    background-color: #F5DEB3;
    border: 1px BLACK;
    padding: 25px;
}
    div#results {
      background-color: #F5DEB3;
      border: 1px BLACK;
      padding: 25px;
    }

  aside{
  margin: 5%;
  font-size: 20pt;
  font-family: "Arial BLACK", sans-serif;
  float: middle;
  width: 80%;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);


  }

        ul{
          list-style-type: none;
          margin:0;
          overflow:hidden;
          background-color: #F5DEB3;
        }

        li a{
        display: block;
        padding: 15px;
        background-color: #3CB371;
        color: BLACK;

        }

        li{
          float: right;
          position: absolute right;

        }



          nav.links{
            background-color: inherit;
          }



}
  h1{
    font-size: 20pt;
    color:BLACK;
    text-transform: uppercase;
    font-family: "Arial Black", sans-serif;
    letter-spacing: 4pt;
  }

       h2 {
      font-size: 20pt;
       color: BLACK;
       text-transform: uppercase;
       font-family: "Arial BLACK", sans-serif;
       letter-spacing: 4pt;}

       h3 {
       font-size: 20pt;
       color: BLACK;
       text-transform: uppercase;
       font-family: "Arial BLACK", sans-serif;
       letter-spacing: 4pt;}
}
p1, .maintext{
      font-size: 12pt;
      color: BLACK;
      font-family: "Arial BLACK", sans-serif;
}

p2, .maintext{
  font-size: 12pt;
  color: BLACK;
  font-family: "Arial BLACK", sans-serif;
}

p3, .maintext{
  font-size: 12pt;
  color: BLACK;
  font-family: "Arial BLACK", sans-serif;
}


div#picture{
  border: 3px BLACK;
}

img{
  float: right;
  width: 700px;
  height: 550px;
  padding: 80px;
}
