section#header{

}



@media only screen (max-width: 600px){
  img#side{
    max-width: 100%;
    display: flex;
  }

div1{
  max-width: 100%
  display: flex;
}

}

img{
width:600px;
height:350px;
position: absolute;
right: 50px;
bottom: 152px;
}

.flex1{
  display: flex;
}

.flex2{
  display: flex;
}

.flex3{
  display: flex;
}


nav#nav{
font-size: 45pt;
color: blue;
}

h1{
  color: red;
}

h2{
  color: red;
}


h3{
  color: red;
}

.first{
border: 2px solid blue;
margin-bottom: 20px;
width: 700px;
color: blue;
}

.second{
border: 2px solid blue;
margin-bottom: 20px;
width: 700px;
color: blue;
}

.third{
border: 2px solid blue;
margin-bottom: 20px;
width: 700px;
color: blue;
}

aside{
font-size: 20pt;
}

footer#footer{
border: 2px solid blue;
width: 400px;
color: blue;
font-size: 18pt;
margin-top: 50px;
}

nav#navigation{
font-size: 20pt;
}
