body {
  margin:25px;
  background-color: #ADD8E6;
  border: 10px BLACK;
  font-size: 16pt;
}
div#challenges {
  background-color: #a9a9a9;
  border: 1px BLACK;
  padding: 25px;
}
div#problems {
  background-color: #a9a9a9;
  border: 1px BLACK;
  padding: 25px;
}
div#results {
  background-color: #a9a9a9;
  border: 1px BLACK;
  padding: 25px;
}
h1, h2, h3,{
  font-size: 20pt;
  font-family: "Courier New", monospace;
}
img{
  float: right;
  width: 200px;
  height: auto;

}
